@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
  --header-height: 3rem;
  --font-semi: 600;
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);
  --second-color: hsl(var(--hue-color), 56%, 12%);
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-back: -10;
  --z-fixed: 100;
}


@media screen and (min-width: 968px) {
    :root {
      --big-font-size: 3.5rem;
      --h2-font-size: 2rem;
      --normal-font-size: 1rem;
      --smaller-font-size: .875rem;
    }
  }
  
  *, ::before, ::after {
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
  }

  a{
    text-decoration: none;
    color: var(--second-color);
  }
  header{
    background-color: wheat;
  }
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-list{
        display: flex;
        justify-items: right;
  }
  .navbar-heading{
    color: var(--first-color);
  }
  .navbar-list-items{
    position: relative;
    list-style-type: none;
    margin-right: 50px;
  }
  .navbar-logo{
    margin-left: 100px;
  }
  .navbar-toggle {
    display: none;
    cursor: pointer;
    margin-right: 20px;
  }
  
  @media screen and (max-width: 480px) {
    .navbar-toggle {
      display: block;
    }
  
    .navbar-list {
      display: none;
      flex-direction: column;
      position: absolute;
      top: var(--header-height);
      left: 0;
      width: 100%;
      background-color: var(--first-color);
      z-index: var(--z-fixed);
      transition: all 0.5s ease;
    }
  
  }
.intro{
    display: flex;
    background-color:#AE78E1;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
    height: 40vh;
    background-image: url("Assets/img/Screenshot 2023-08-19 104731.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px #644087;
}

@media screen and (max-width: 480px) {
    .intro{
    display: flex;
    background-color:#AE78E1;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
    height: 30vh;
    font-size: smaller;
    background-image: url("Assets/img/Screenshot 2023-08-19 124500.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px #644087;
    }
}
@media screen and (min-width: 480px) and (max-width: 950px) {
  .intro {
    display: flex;
    background-color: #AE78E1;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 10px;
    height: 30vh;
    font-size: smaller;
    background-image: url("Assets/img/Screenshot 2023-08-19 201824.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px #644087;
  }
}
#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  user-select: none;
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% center;
}
  
  
