@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root{
  
  --textcolor:#000000;
  --txtcolor: #0d1730;
  --bgcolor:white;
  --btncolor:#5eafe6;
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-back: -10;
  --z-fixed: 100;
  --header-height: 3rem;
  --font-semi: 600;
  --bgcolor:white;
  --bxshadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.bd-grid {
  max-width: max-content;
  display: grid;
  margin-left: var(--mb-2);
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}
*{
  font-family: 'Poppins', sans-serif;
  
}
a{
  text-decoration: none;
  
}

body.dark {

  --textcolor:white;
  --txtcolor:black;
  --bgcolor: black;
  --bxshadow: 0px 0px 10px rgb(255, 255, 255);
}
body{
  color: var(--textcolor);
  background-color: var(--bgcolor);
  --txtcolor: #0d1730;
}
li{
  list-style-type: none;
}
/* navbar */


  /* login and register */
#gicon{
  margin-top: -10px;
  margin-bottom: 3px;
  color: rgb(147, 71, 223);
}
@media only screen and (max-width:1000px){
#limg{
    display: none;
}
}
@media only screen and (min-height:800px){
  .container{
    margin-top: 70px;
  }
}
@media only screen and (min-width:1199px) and (min-height:1999px){
 .container{
      position: absolute;
      left: 44%;
      top:15%;
      transform: scale(1.8);
      
  }
  #limg{
    position: absolute;
    top: 100%;
    left:-5%;
  }
  
}
/* Intro */
