@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {

  --textcolor: #000000;
  --txtcolor: #0d1730;
  --bgcolor: white;
  --btncolor: #5eafe6;
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --z-back: -10;
  --z-fixed: 100;
  --header-height: 3rem;
  --font-semi: 600;
  --bgcolor: white;
  --bxshadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.bd-grid {
  max-width: max-content;
  display: grid;
  margin-left: var(--mb-2);
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

* {
  font-family: 'Poppins', sans-serif;

}

a {
  text-decoration: none;
  color: white;
}

body.dark {

  --textcolor: white;
  --txtcolor: black;
  --bgcolor: black;
  --bxshadow: 0px 0px 10px rgb(255, 255, 255);
}

body {
  color: var(--textcolor);
  background-color: var(--bgcolor);
  --txtcolor: #0d1730;
}

li {
  list-style-type: none;
}

/* navbar */
.navbar {

  box-shadow: var(--bxshadow);
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: var(--bgcolor);
  padding-top: 10px;
}

.navbar-toggler {
  background-color: var(--btncolor);
}

.nav-link {
  color: var(--textcolor);
}

.nav-link:hover {
  color: var(--textcolor);
  opacity: 0.8;

}

.navbar-brand {
  margin-left: 3rem;
  color: var(--textcolor);
}

.navbar-brand:hover {
  color: var(--textcolor);
  opacity: 0.8;
}

.nav-link.dropdown-toggle.show {
  color: var(--textcolor);
}

.dm {
  padding-top: 5px;
}

@media only screen and (min-width:768px) {
  .collapse {
    margin-right: 7%;

  }

  .dm {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
  }

  @media only screen and (max-width:990px) and (min-width:768px) {
    .dm {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 10%;
    }
  }

  .navbar-nav {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;

  }

  .nav-link {
    color: var(--textcolor);
  }

  .nav-link:hover {
    color: var(--textcolor);
    opacity: 0.8;
  }

  .nav-link {
    cursor: pointer;
  }

  .navbar-brand {
    cursor: pointer;
  }

  .dropdown-toggle {
    color: var(--textcolor);
  }

  .navbar-brand {
    margin-left: 3rem;
    color: var(--textcolor);
  }

  .navbar-brand:hover {
    color: var(--textcolor);
    opacity: 0.8;
  }


  .nav-link.dropdown-toggle.show {
    color: var(--textcolor);
  }

  .nav-item {
    position: relative;
  }

  .live::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2.2rem;
    border-radius: 20%;
    background-color: var(--btncolor);
  }
}

/* login and register */
#gicon {
  margin-top: -10px;
  margin-bottom: 3px;
  color: rgb(147, 71, 223);
}

@media only screen and (max-width:1000px) {
  #limg {
    display: none;
  }
}

@media only screen and (min-height:800px) {
  .container {
    margin-top: 70px;
  }
}

@media only screen and (min-width:1199px) and (min-height:1999px) {
  .container {
    position: absolute;
    left: 44%;
    top: 15%;
    transform: scale(1.8);

  }

  #limg {
    position: absolute;
    top: 100%;
    left: -5%;
  }

}

/* Intro */
.home {
  position: relative;
  row-gap: 5;
  padding: 5rem 0 2rem;
}

.home__data {
  display: flex;
  justify-content: space-evenly;
  padding-top: 30px;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
  font-weight: bold;
  margin-top: 30%;
  line-height: 1.3;
  margin-left: 12%;
  width: 100%;

}

.button {
  position: absolute;
  top: 75%;
  display: inline-block;
  background-color: var(--btncolor);
  color: var(--textcolor);
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
  max-width: 13rem;
  left: 15%;
}

.intro-img {
  max-width: 100%;
  height: auto;
  z-index: var(--z-back);
  border-radius: 4%;
}

@media only screen and (max-width:767px) {
  .home__title {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
    font-weight: bolder;
    margin-left: 5%;
    margin-top: 0px;
    line-height: 1.4;
  }

  .button {
    position: absolute;
    display: inline-block;
    background-color: var(--btncolor);
    color: var(--textcolor);
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: .3s;
    width: 11.5rem;
    top: 80%;
    left: 5%;
  }

  .intro-img {
    display: none;
  }
}

@media only screen and (min-width:1024px) and (max-height:768px) {
  .button {
    position: absolute;
    display: inline-block;
    background-color: var(--btncolor);
    color: var(--textcolor);
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: .3s;
    width: 11.5rem;
    top: 30rem;
    left: 15%;
  }
}

@media only screen and (min-width:2560px) {
  .button {
    position: absolute;
    display: inline-block;
    background-color: var(--btncolor);
    color: var(--textcolor);
    padding: .75rem 2.5rem;
    font-weight: var(--font-semi);
    border-radius: .5rem;
    transition: .3s;
    width: 11.5rem;
    top: 45rem;
    left: 26rem;
  }

  .intro-img {
    max-width: 100%;
    height: auto;
    z-index: var(--z-back);
    border-radius: 4%;
  }

  .home__data {
    padding-top: 5rem;
  }

  .home__title {
    font-size: 5rem;
  }
}

.home__title-color {
  color: var(--btncolor);
}

/* carousel */
.grid {
  margin-top: 50px;
  position: relative;
}

.carousel-text::after {
  position: absolute;
  content: '';
  width: 50%;
  border-radius: 10%;
  height: 0.18rem;
  left: 0;
  top: 2.2rem;
  border-radius: 20%;
  background-color: var(--btncolor);
  transition: width 0.3s ease-in-out;
}

@media only screen and (max-width:767px) {
  .carousel-text::after {
    position: absolute;
    content: '';
    width: 93px;
    border-radius: 10%;
    height: 0.18rem;
    left: 0;
    top: 2.2rem;
    border-radius: 20%;
    background-color: var(--btncolor);
  }
}

.grid-content {
  margin-left: 5%;
  margin-top: 2%;
  font-size: 1.25rem;
}

@media only screen and (max-width:767px) {
  .grid-content {
    margin-left: 5%;
    margin-top: 7%;
    font-size: 1rem;
  }
}

.carousel-text {
  margin-left: 45px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.car-img {
  width: 100%;
  height: 100%;
}

.conteudo {
  padding-bottom: 2rem;
  width: 90%;
  margin-top: 20px;
  margin-left: 8%;
}

.carrousel1 {
  display: flex;
  flex-direction: row;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: mandatory;
  scrollbar-width: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.carrousel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-snap-type: mandatory;
  scrollbar-width: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.carrousel::-webkit-scrollbar {
  display: none;
}

.carrousel1::-webkit-scrollbar {
  display: none;
}

.grid-sub {
  font-size: 50%;
  position: relative;
  border: 0px transparent;
  background-color: transparent;
}

.grid-sub span {
  color: var(--btncolor);
  position: absolute;
  width: 5rem;
  left: -4rem;
  top: 0.6rem;
}

.card {

  scroll-snap-align: start;
  border-radius: 10px;
  min-height: 350px;
  min-width: 300px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: var(--bgcolor);
  color: var(--textcolor);
  border-color: var(--textcolor);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.5s ease-out;
}

@media only screen and (max-width:768px) {
  .card {
    min-height: 300px;
    min-width: 250px;
  }
}

.card:not(.cascading-right):hover {
  transform: scale(1.04);
  opacity: 0.8;
}

.conteudo2 {
  width: 90.8%;
  margin-top: 20px;
  padding-bottom: 20px;
}

/* Collections */
.coll .card {
  min-height: 350px;
  min-width: 300px;
}

@media only screen and (max-width:768px) {
  .coll .card {
    min-height: 300px;
    min-width: 250px;
  }
}

/* footer */
footer {
  margin-top: 3%;
  background-color: var(--txtcolor);
  height: 40vh;
  position: relative;
  box-shadow: var(--bxshadow);
}

.footer-text {
  color: var(--btncolor);
  position: absolute;
  top: 40%;
  left: 4%;
}

.footer-ref {
  position: absolute;
  top: 25%;
  left: 30%;
}

.footer-ref li {
  margin-top: 10px;
  color: var(--btncolor);
}

.footer-ref span {
  font-size: 23px;
  color: antiquewhite;
}

.footer-ref2 {
  position: absolute;
  top: 25%;
  left: 50%;

}

.footer-ref2 li {
  margin-top: 10px;
  color: var(--btncolor);

}

.footer-ref2 span {
  font-size: 23px;
  color: antiquewhite;
}

.copyright {
  position: absolute;
  top: 44%;
  color: var(--btncolor);

  left: 70%;
}

@media only screen and (max-width:480px) {
  footer {
    margin-top: 3%;
    background-color: var(--txtcolor);
    height: 100vh;
    position: relative;
  }

  .footer-text {
    color: white;
    position: absolute;
    top: 5%;
    left: 34%;
  }

  .footer-ref {
    position: absolute;
    top: 20%;
    left: 5%;
  }

  .footer-ref li {
    color: var(--btncolor);

    margin-top: 10px;
  }

  .footer-ref span {
    font-size: 23px;
    color: antiquewhite;
  }

  .footer-ref2 {
    position: absolute;
    top: 55%;
    left: 5%;
  }

  .footer-ref2 li {
    color: var(--btncolor);

    margin-top: 10px;
  }

  .footer-ref2 span {
    font-size: 23px;
    color: antiquewhite;
  }

  .copyright {
    position: absolute;
    top: 87%;
    left: 27%;
    color: var(--btncolor);

  }
}

@media only screen and (max-width:1000px) and (min-width:481px) {
  footer {
    margin-top: 3%;
    background-color: var(--txtcolor);
    height: 43vh;
    position: relative;
  }

  .footer-text {
    color: white;
    position: absolute;
    top: 5%;
    left: 36%;
  }

  .footer-ref {
    position: absolute;
    top: 25%;
    left: 10%;
  }

  .footer-ref li {
    margin-top: 10px;
  }

  .footer-ref span {
    font-size: 23px;
    color: antiquewhite;
  }

  .footer-ref2 {
    position: absolute;
    top: 25%;
    left: 55%;
  }

  .footer-ref2 li {
    margin-top: 10px;
  }

  .footer-ref2 span {
    font-size: 23px;
    color: antiquewhite;
  }

  .copyright {
    position: absolute;
    top: 85%;
    left: 36%;
    color: var(--btncolor);

  }
}

@media only screen and (min-width:1199px) and (min-height:1999px) {

  footer {
    margin-top: 3%;
    background-color: var(--txtcolor);
    height: 20vh;
    position: relative;
    box-shadow: var(--bxshadow);
  }

  .footer-text {
    color: var(--btncolor);
    position: absolute;
    top: 40%;
    left: 4%;
  }

  .footer-ref {
    position: absolute;
    top: 25%;
    left: 30%;
  }

  .footer-ref li {
    margin-top: 10px;
    color: var(--btncolor);
  }

  .footer-ref span {
    font-size: 23px;
    color: antiquewhite;
  }

  .footer-ref2 {
    position: absolute;
    top: 25%;
    left: 50%;

  }

  .footer-ref2 li {
    margin-top: 10px;
    color: var(--btncolor);

  }

  .footer-ref2 span {
    font-size: 23px;
    color: antiquewhite;
  }

  .copyright {
    position: absolute;
    top: 44%;
    color: var(--btncolor);
    left: 74%;
  }
}

/* Loader */
.loadbody {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.loader {
  position: relative;
  width: 75px;
  height: 100px;
  transform: translateY(35vh);
}

.loader__bar {
  position: absolute;
  bottom: 0;
  width: 10px;
  height: 50%;
  background: rgb(0, 0, 0);
  transform-origin: center bottom;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.loader__bar:nth-child(1) {
  left: 0px;
  transform: scale(1, 0.2);
  -webkit-animation: barUp1 4s infinite;
  animation: barUp1 4s infinite;
}

.loader__bar:nth-child(2) {
  left: 15px;
  transform: scale(1, 0.4);
  -webkit-animation: barUp2 4s infinite;
  animation: barUp2 4s infinite;
}

.loader__bar:nth-child(3) {
  left: 30px;
  transform: scale(1, 0.6);
  -webkit-animation: barUp3 4s infinite;
  animation: barUp3 4s infinite;
}

.loader__bar:nth-child(4) {
  left: 45px;
  transform: scale(1, 0.8);
  -webkit-animation: barUp4 4s infinite;
  animation: barUp4 4s infinite;
}

.loader__bar:nth-child(5) {
  left: 60px;
  transform: scale(1, 1);
  -webkit-animation: barUp5 4s infinite;
  animation: barUp5 4s infinite;
}

.loader__ball {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 10px;
  height: 10px;
  background: rgb(44, 143, 255);
  border-radius: 50%;
  -webkit-animation: ball624 4s infinite;
  animation: ball624 4s infinite;
}

@keyframes ball624 {
  0% {
    transform: translate(0, 0);
  }

  5% {
    transform: translate(8px, -14px);
  }

  10% {
    transform: translate(15px, -10px);
  }

  17% {
    transform: translate(23px, -24px);
  }

  20% {
    transform: translate(30px, -20px);
  }

  27% {
    transform: translate(38px, -34px);
  }

  30% {
    transform: translate(45px, -30px);
  }

  37% {
    transform: translate(53px, -44px);
  }

  40% {
    transform: translate(60px, -40px);
  }

  50% {
    transform: translate(60px, 0);
  }

  57% {
    transform: translate(53px, -14px);
  }

  60% {
    transform: translate(45px, -10px);
  }

  67% {
    transform: translate(37px, -24px);
  }

  70% {
    transform: translate(30px, -20px);
  }

  77% {
    transform: translate(22px, -34px);
  }

  80% {
    transform: translate(15px, -30px);
  }

  87% {
    transform: translate(7px, -44px);
  }

  90% {
    transform: translate(0, -40px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@-webkit-keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@keyframes barUp1 {
  0% {
    transform: scale(1, 0.2);
  }

  40% {
    transform: scale(1, 0.2);
  }

  50% {
    transform: scale(1, 1);
  }

  90% {
    transform: scale(1, 1);
  }

  100% {
    transform: scale(1, 0.2);
  }
}

@-webkit-keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@keyframes barUp2 {
  0% {
    transform: scale(1, 0.4);
  }

  40% {
    transform: scale(1, 0.4);
  }

  50% {
    transform: scale(1, 0.8);
  }

  90% {
    transform: scale(1, 0.8);
  }

  100% {
    transform: scale(1, 0.4);
  }
}

@-webkit-keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@keyframes barUp3 {
  0% {
    transform: scale(1, 0.6);
  }

  100% {
    transform: scale(1, 0.6);
  }
}

@-webkit-keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@keyframes barUp4 {
  0% {
    transform: scale(1, 0.8);
  }

  40% {
    transform: scale(1, 0.8);
  }

  50% {
    transform: scale(1, 0.4);
  }

  90% {
    transform: scale(1, 0.4);
  }

  100% {
    transform: scale(1, 0.8);
  }
}

@-webkit-keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@keyframes barUp5 {
  0% {
    transform: scale(1, 1);
  }

  40% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1, 0.2);
  }

  90% {
    transform: scale(1, 0.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

/* Guided home bar */
.path {
  padding: 20px;
}

.path-title {
  width: 100%;
  display: flex;
  gap: 10px;
}

.path-details {
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
}

.path-details>p {
  text-align: left;
  -webkit-line-clamp: 3;
  font-size: .9vw;
}