@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
*{
  font-family: 'Poppins', sans-serif;
}
a{
  text-decoration: none;
  color: white;
}

/* navbar */
.navbar{
    background-color: #9f74a3;
    position: relative;
}

#navlinks {
    display: flex;
    justify-content: flex-end; 
}

  #navlinks li.nav-item {
    padding-left: 50px;
  }
  .nav-link.live{
    color: aliceblue;
    position: relative;
  }
  .nav-link.live::after{
    content: '';
  position: absolute;
  width: 100%;
  transform: translate(-50px,0);
  border-bottom: 3px solid blue; /* Change to your desired color */
  margin-top: 25px;
  border-radius: 50px;
  }
  
  /* login and register */
#gicon{
  margin-top: -10px;
  margin-bottom: 3px;
}
@media only screen and (max-width:990px){
#limg{
    display: none;
}
}
@media only screen and (min-height:800px){
  .container{
    margin-top: 70px;
  }
}